input {
	border: 0;
	padding: 10px;
	font-size: 20px;
}

input[type="submit"] {
	background: red;
	color: white;
}
	   
.h6 {
	color: grey; 
}

.h3 {
	font-family: cursive;
	font-weight: 400;
}

a {
	margin: 20px 20px 20px 20px;
}

body {
	background-size: cover;
	background-position: center;
}
