body {  
		 background: url("homepage.jpg");
     		 background-size: cover;
     		 background-position: center;
		} 
	
	   input {
	      border: 0;
	      padding: 10px;
	      font-size: 20px;
	    }
	    input[type="submit"] {
	      background: red;
	      color: white;
	    }
	    
	    h4 }
	      color: grey;
	    }
