body{
	background:#f2f2f2;
}


.column_area{
  display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	margin:top;
  width:100%;
}
.column_area article{
  max-width:22%;
  /*margin:0.25rem;
  padding:0.5rem;*/
}

p, li{
  font-family:calibri;
  font-size:12px;
}

img{
  max-width:100%;
}

.country1{
  border:1px solid grey;
  margin: 2% 0;
  padding:1
}




/* dropdown buttons ------------------------------------------------------------------*/

.dropbtn {
    /*background-color: rgba(255,0,0,0.2);
    color: inherit;*/
    background-color:inherit;
    color:none;
    font-size:1.5rem;
    border: none;
    cursor: pointer;
	line-height:1.2rem;
	padding:0;
	margin:0;
  text-decoration: underline;
}

/*.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255,0,0,0.7);
}*/

.dropdown {
    position:inline-flex;
    display: inline-block;

}

.dropdown-content {
    display:none;
    position:absolute;
    float:left;
    background-color:white;
    width:50rem;
    height:50rem;
    overflow:auto;
    /*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);*/
    z-index:1;
	  padding:1%;
	  border-radius:10px;

}

.dropdown-content a {
  /*color: inherit;*/
  text-decoration: none;
  display: block;
	font-size:1.5rem;
	font-family:calibri;

}

/*.dropdown a:hover {background-color: #ddd;}*/

.show {display: block;}

h2{
	color:#ff6600;
}
