body{
  margin:0 auto;
  width:100%
 
}

table{
  max-width:100%;
  margin: 0 auto;
}

td{
  font-size:10px;
  color:rgba(202,202,202,0.4);
  line-height:14.3px;
  border-radius:5px;
  text-align:center;
}

.contour{
  color:red;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
}

.contour2{
  color:#ff6600;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
  font-weight:bold;
}


.contour3{
  color:#e63900;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
  font-weight:bold;
}
.contour4{
  color:#ff33cc;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
  font-weight:bold;
}
.contour5{
  color:red;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
  font-weight:bold;
}
.contour6{
  color:red;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color:none;
  font-weight:bold;
}

p{
  color:black;
}


/*buttons on java - currently not working to duplicate-----------------------------------------------------------------------------*/
.dropbtn {
    background-color: rgba(255,128,0,0.8);
    color: white;
    font-weight:bold;
    font-size:10px;
    border: none;
    cursor: pointer;
	line-height:14.3px;
	padding:0 0.2px;
	margin:0;
  border-radius:5px;
  /*border:0.5px solid rgb(255,191,0);*/
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255,128,0,0.7);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width:12rem;
    overflow: auto;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding:5px;
	border-radius:10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
	font-size:10px;
	font-family:calibri;
	font-size:12px;
}
.dropdown-content a span{
  font-weight:bold;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.dropdown-content img{
  max-width:12rem;
  border-radius:2px;
}

.link2index{
  background:rgba(255, 191, 0,0.5);
  border-radius:5px;
}

/* buttons 2 using ceckbox - this works--------------------------------------------------------*/


.ex1{
  background:rgba(255,128,0,0.2);
  border-radius: 5px;
}

input[type="checkbox"]{
  display:none;
}
/*the above hides the checkbox*/


.hide { /*this and below hides the div*/
  width:20%;
  display:none;
  position:absolute;
  background:white;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);

}

.hide p {
  padding: 10px;
  background:white;
  margin: 0;

  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}


.ex1 input[type="checkbox"]:checked ~ div { /*this shows the hidden paragraph*/
  max-height: 0;
  border: none;
  position:absolute;
  display:block;
}

label{
	cursor:pointer;
	display:inline;
}



.contour:hover, .contour1:hover,.contour2:hover,.contour3:hover{
  animation: example 3s; 
  
  animation-iteration-count:infinite;
  
}

.contour{
	animation: paused;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes example {
  0%   {background-color: #FF4B09;}
  10%  {background-color: #E87B11;}
  20%  {background-color: #FFAF07;}
  30% {background-color: #E87B11;}
  40% {background-color: #FF4B09;}
  50% {background-color: #E81C11;}
  60% {background-color: #FF0E9F;}
  70% {background-color: #E81C11;}
  80% {background-color: #FF4B09;}
  90% {background-color: #FFE807;}
  100%{background-color: #FF7900;}  
}